# You can copy and add this code snipped at ~/.bashrc at the end of your file.
# Once that has been done, please run source ~/.bashrc to update the source file.

function set-title() {
  if [[ -z "$ORIG" ]]; then
    ORIG=$PS1
  fi
  TITLE="\[\e]2;$*\a\]"
  PS1=${ORIG}${TITLE}
}
